.dash-arrow {
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.dash-item.active > .dash-arrow {
  transform: rotate(90deg); /* Rotate the arrow when the menu item is active */
}

.dash-submenu .dash-item.active > .dash-arrow {
  transform: rotate(
    90deg
  ); /* Rotate the submenu arrow when the submenu item is active */
}
